/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f5f8; /* Set a default background color */
}

/* Navigation styles */
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between; /* Align items on both ends */
}

.nav-heading h4 {
  margin: 0;
}

.nav-link {
  list-style: none;
  display: flex;
}

.nav-link li {
  margin-right: 1rem;
}

.nav-link li a {
  text-decoration: none;
  color: #fff;
}

/* Main content styles */
.container {
  text-align: center;
  margin-top: 16rem;
}

h2 {
  margin-bottom: 1rem;
}

.btn {
  background-color: #fff; /* White background */
  color: #333; /* Text color */
  border: none;
  padding: 0.5rem 1rem; /* Padding */
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: inline-block; /* Display as inline block to center */
  border-radius: 23px;
  border: 2px solid black;
}

.btn:hover {
  background-color: #000; /* Black background on hover */
  color: #fff; /* Text color on hover */
}
